<a href="/"><button>Home</button></a>


{{#each newsData}}
    <a href = "{{this.newsobj.link}}"><div>Headline  : {{this.newsobj.headline}}</div></a>
    <div>Updated At: {{this.newsobj.date}}</div>
    <div>Summary   : {{this.newsobj.summary}}</div>
    <div>By {{this.newsobj.reporter}}</div>
    <img src="{{this.newsobj.photo}}">
    <div>Saved At: {{this.date}}</div>
    <div>Comments: 
        <ul>
            {{#each this.comments}}
            <li>{{this.comment}} commented at: {{this.date}}</li>
            {{/each}}
        </ul>
    </div>
    <button class="noteNews" data-id="{{this._id}}">Take Notes</button>
    <hr>
{{/each}}


<div id="notearea" style="display:none">
    <label for="note">Note</label>
    <textarea id="note"></textarea>
    <div class="buttons">
        <button id="savenote" data-id="">Submit</button>
        <button id="clearnotes">Delete All Notes</button>
    </div>
</div>