<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #386F9C;">
    <a class="navbar-brand" href="/"><i class="fas fa-newspaper pr-2"></i> News Digest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link activetab" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link currenttab" href="/savednews">Saved</a>
            </li>
        </ul>
    </div>
</nav>


{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid" style="background-color: #112E41">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-cut pr-2"></i> Saved News Articles</h1>
        <h3 class="lead">Take notes on your saved news.</h3>
        <button class="btn btn-info btn-lg mr-3 my-2" id="showallnotes" data-toggle="modal"
            data-target="#allnotesModal">Show All Notes</butoon>
            <button class="btn btn-secondary btn-lg my-2" id="deletesavednews">Delete All Saved News</butoon>
    </div>
</div>


{{!-- Notes Cards --}}
{{#each newsData}}
<div class="card mb-3 mx-5 bg-dark">
    <div class="row no-gutters align-items-center p-2">
        <div class="col-md-2">
            <img src="{{this.newsobj.photo}}" class="card-img" alt="..." style="width:100%">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <a href="{{this.newsobj.link}}">
                    <h5 class="card-title">{{this.newsobj.headline}} <i class="fas fa-link pl-2"></i> </h5>
                </a>
                <p class="card-text">{{this.newsobj.summary}}</p>
                <p class="card-text"><small class="text-muted">By {{this.newsobj.reporter}} | Updated at
                        {{this.newsobj.date}} | Saved at {{dateFormat this.date "YYYY/MM/DD HH:mm:ss"}}</small></p>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-warning btn-lg btn-blocksaveNews noteNews m-2" data-id="{{this._id}}" data-headline="{{this.newsobj.headline}}"
                data-originalid="{{this.news_id}}" data-toggle="modal" data-target="#notesModel"><i
                    class="fas fa-pen-fancy pr-1"></i> Notes</button>
            <button class="btn btn-danger btn-lg btn-blocksaveNews deleteNews m-2" data-id="{{this._id}}"
                data-originalid="{{this.news_id}}"><i class="fas fa-trash"></i> Delete</button>
        </div>
    </div>
</div>
{{/each}}
<!-- Modal for view all notes-->
<div class="modal fade text-dark" id="allnotesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog .modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">All Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="allNotes">
            </div>
        </div>
    </div>
</div>




<!-- Modal for add notes and view notes of a specific saved news-->
<div class="modal fade bd-example-modal-lg" id="notesModel" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Take Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row px-4 mb-2">
                    <div>Notes for: </div>
                    <h5 id="selectedNewsTile" style="color:#112E41">
                        {{!-- news headline comes here --}}
                    </h5>
                </div>
                <div class="row px-4 notes" id="takennotes">
                    {{!-- Notes comes here --}}
                </div>
                <div class="row px-4">
                    <div class="card my-3 p-2" id="notearea" style="width:100%">
                        <textarea id="note" class="mb-2" placeholder="Take new notes here"
                            style="width:100%; height:100px"></textarea>
                        <div class="buttons">
                            <button class="btn btn-warning btn-lg btn-block" id="savenote" data-id="">Add New
                                Notes</button>
                            <button class="btn btn-secondary btn-lg btn-block" id="clearnotes" data-id="">Delete All
                                Notes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>